.inputField {
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.inputField::placeholder {
    display: block;
    margin-left: 12px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.48);
}
